# SPDX-FileCopyrightText: Copyright 2026 secunet Security Networks AG <https://www.secunet.com>
#
# SPDX-License-Identifier: Apache-2.0

.direnv
/.pre-commit-config.yaml
.idea/
/result
**/result
/.nixos-test-history

# Added by cargo

/target
**/target
**/*.cdx.json

/.vscode
**/.DS_Store
.DS_Store

# Generated

documentation/public/openapi.json